.carousel
{   
   position: relative;
}
body {
    background-color: blueviolet;
}
.carousel .pic-container
{
    height:50vh;
}
.carousel .slide .pic {
    height:100%;   
}

.carousel .thumbs {
    display: none;
}

