.App {
  text-align: center;
  margin-bottom: 10vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

ol, ul {
  
  list-style: none;
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 34px;
}
.gallery-tile {
	min-width: 200px;
	max-width: 28vw;
	margin:5px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
	img {
		width: 100%;
		height: 100%;
		transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
	}

.navBar {
  background-color: #FFFFFF;
  border: 1PX SOLID black;
  bottom: 1px;
  display: block;
  padding: 15px;
  position:fixed;
  width: 100%;
}

  .navContainer {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
  }

    .btn-nav {
      display: flex;
      border:2px solid black;
      padding: 35px;
      background-color: cornflowerblue;
    }

  /* Modal */

.modal
{
  align-items : center;
  justify-content: center;
  position : fixed;
  top: 0;
  left : 0;
  width : 100%;
  height : 100%;
  background: rgba( 0,0,0,0.8);
}

.modal-content
{
  background-color: #FFFFFF;
  width : 600px;
  max-width : calc(100vh - 20px);
  max-height : calc(100vh - 20px);
  padding : 20px;
}
.modal-pic
{
  width: 50%;
}